<ul>
    <li style="display: flex; justify-content: space-between">
        <h2>{{ trip.name }}</h2>
        <a href="{% url 'travels' %}" class="end-button-trip" id="end-button">Zakończ</a>
    </li>
    <li>
        <h3>Status: {{ trip.get_status_display }}</h3>
    </li>
    {% for order in orders %}
        <li>
            <h4>Dzień: {{ order.order }}</h4>
            <ul>
                {% for day in days %}
                    <li>
                        {% if day.order == order.order %}
                            <a class="form-a" href='{% url 'attractions' day.place_attraction.attraction.id %}'>{{ day.place_attraction.place.name }}: {{ day.place_attraction.attraction.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
