{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="input-container">
        <input type="text" placeholder="Wpisz tekst">
        <span class="icon">
            <a href="#" id="search"><img src="{% static 'img/search.png' %}" alt="search" class="search"></a>
        </span>
    </div>

    <link rel="stylesheet" href="{% static "css/places.css" %}">
    <ul id="country" class="places">
        {% for place in places %}
            <li data-api="{{ place.id }}" class="places">{{ place.country }}</li>
        {% endfor %}
    </ul>
    <script src="{% static 'js/places.js' %}"></script>
{% endblock %}


