{% extends 'base.html' %}
{% load static %}
{% block content %}
    <ul>
        <li style="display: flex; justify-content: space-between">
            <h2>{{ trip.name }} </h2>
            <h2><input type="text" value="{{ trip.name }}" class="d-none" id="trip-name-in"></h2>
            <a href="{% url 'travel_delete' trip.id %}" class="del-button-trip">Usuń podróż</a>
            <div style="display: flex">
                <a href="{% url 'travel_details' trip.id %}" class="edit-button-trip">Tryb edycji</a>
                <a href="{% url 'travels' %}" class="end-button-trip">Powrót</a>
            </div>

        </li>
        <li>
            <h3>Status: {{ trip.get_status_display }}</h3>
        </li>
        {% for order in orders %}
            <li>
                <h4>
                    <a href="{% url 'day_detail_delete' trip.pk order.order %}" class="form-b days parentElement">
                        Dzień: {{ order.order }}
                    </a>
                </h4>
                <ul>
                    {% for day in days %}
                        <li>
                            {% if day.order == order.order %}
                                {{ day.place_attraction.place.name }}: {{ day.place_attraction.attraction.name }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        <li>
            <h4>Notatki:</h4>
            <ul>
                {% for note in notes %}
                    <a href="{% url 'delete_note' note.id %}" class="form-b">
                        <li><strong>Status:</strong> {{ note.get_status_display }},
                            <strong>data:</strong> {{ note.date }}</li>
                        <li>{{ note.note }}<br/><br/></li>
                    </a>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}